.each_box {
    justify-content: center;
    display: flex;
    padding: 5px;
  }
  
  label {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  input {
    width: 100%;
  }
  